html, body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #999;
    font-family: sans-serif;
    height: 99%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#controls {
    color: #222;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 5px;
    padding: 1px;
    background-color: rgba(192, 192, 192, 0.5);
    text-align: center;
}

#controls a {
    color: #336;
    font-weight: bold;
}

#controls a:hover {
    color: #558;
}

table.rules select,
table.rules button,
#controls button, #controls input {
    color: #222;
    background-color: rgba(192, 192, 192, 0.75);
    border: 1px solid rgba(64, 64, 64, 0.5);
}

table.rules {
    color: #222;
    background-color: rgba(192, 192, 192, 0.5);
}

#container {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}
